@import "tailwindcss";
@plugin "daisyui";

@theme {
    /* --color-[이름]: [색상코드]; 형식으로 작성합니다. */
    --color-myblue: #0e5db8;
}

@utility primary-btn {
    @apply bg-linear-to-r from-sky-500 via-blue-500 to-purple-500; /*var(--color-myblue); 아까 설정한 커스텀 블루 */
    color: white;
    width: 100%;
    height: 2.5rem; /* h-10 */
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    font-weight: 500;

    &:hover {
        filter: brightness(0.9);
    }
    &:disabled {
        background-image: none;
        background-color: #9ca3af; /* neutral-400 정도의 회색 */
        color: #d1d5db;
        cursor: not-allowed;
    }
}
